@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    background: url(/assets/img/town.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------DINO---------- */
#dino {
    width: 50px;
    height: 50px;
    background-image: url(/assets/img/run-new-gif.gif);
    background-size: 50px 50px;
    position: relative;
    /* saut = reduire le top */
    top: 148px;
}

.jump {
    animation: jump 0.3s linear;
}


/* Je définis l'animation de mon saut */
@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}

/* ------------------------------- */

/* --------CACTUS--------------- */

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 108px;
    left: 578px;

    background-image: url(/assets/img/cactus.png);
    background-size: 20px 40px;

    animation: none;
}


/*  Animation du cactus */
@keyframes block {
    0% {
        left: 580px;
    }

    100% {
        left: -25px;
    }
}

#score {
    width: auto;
    height: auto;
    position: relative;
    top: -80px;
    left: 5px;
}

#gameover {
    display: none;
    font-size: 30px;
    position: relative;
    left: calc(50% - 80px);
    top: calc(50% - 150px);
    height: 80px;
}

#start {
    display: ;
    text-align: center;
    font-size: 20px;
    position: relative;
    left: calc(50% - 300px);
    top: calc(50% - 150px);
    height: 80px;
}





/*  ---------------  CHIFUMI ------------  */
.buttons {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 15px;
}


h1 {
    font-size: 50px;
    padding: 10px;
    margin: auto;
}

h2 {
    margin: auto;
    padding: 10px;
}

p {
    text-align: center;
    margin-bottom: 5px;
}

.computeurChoice,
.yourChoice,
.result {
    margin-bottom: 20px;
    text-align: center;
}

.chifumi {
    background: rgba(0, 0, 0, 0.475);
    border-radius: 25px;
    display: none;
    flex-direction: column;
    justify-content: center;
    /* Pour centrer mon élément */
    margin: 100px auto;
    width: 40%;
    height: auto;
}